/*
    Created on : 28-apr-2015, 18:54:12
    Author     : Mehmet
*/

#logo { width: 300px;
        height: 150px;
        position: absolute;
        top: 2%;
        left: 4%;
        background: white;
        float: left;
        width: 750px;
}
#logo ul {
    list-style-type: none;
    width: 180px;
}
#logo ul li {
    margin-left: 50px;
    margin-top: 25px;
}
#logo ul li a {
    display: block;
    padding: 0px;
    background-color: white;
    text-align: center;
}

#rcorners2 {
    position: absolute;
    top: 40px;
    left: 950px;
    font-size: 12pt;
    background: white;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 10px;
    float: left;
    width: 200px;
    height: 20px;
}

#welkom {
    font-size: 34px;
    position: relative;
    left:450px;
    top: 45px;
}

#inlogscherm {
    position: absolute;
    top: 9%;
    left: 300px;
    background-color: whitesmoke;
    font-size: 12pt;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 10px;
    float: left;
    width: 780px;
    height: 400px;
}

#InlogForm {
    font-size: 24px;
    position: relative;
    left:100px;
    top: 45px;
}

#InlogForm input {
    position: relative;
    left: 20px;
    top: 0px;
}

#InlogForm label {
    width : 20%;
    text-align : left;
    font-size: 20px;
    font-family: Verdana bold;
    color: black;
    font-weight: bold;
}

#InlogForm label, input {
    display : block;
    float : left;
}

#InlogForm br {
    clear : both;
}

#registratieForm {
    font-size: 24px;
    position: relative;
    left:100px;
    top: 45px;
}

#registratieForm input {
    position: relative;
    left: 20px;
    top: 0px;
}

#registratieForm label {
    width : 20%;
    text-align : left;
    font-size: 20px;
    font-family: Verdana bold;
    color: black;
    font-weight: bold;
}

#registratieForm label, input {
    display : block;
    float : left;
}

#registratieForm br {
    clear : both;
}

#registreren2 {
    position: relative;
    left: 180px;
    top: 9px;
    width: 160px;
    height: 40px;
    font-size: 20px;
    background: #44699C;
    color: white;
}

#inloggen2 {
    position: relative;
    left: 180px;
    top: 9px;
    width: 160px;
    height: 40px;
    font-size: 20px;
    background: #44699C;
    color: white;
}

#midden {
    position: absolute;
    top: 9%;
    left: 300px;
    background-color: whitesmoke;
    font-size: 12pt;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 10px;
    float: left;
    width: 780px;
    height: 400px;
}
#middenRegistratieScherm {
    position: absolute;
    top: 9%;
    left: 300px;
    background-color: whitesmoke;
    font-size: 12pt;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 10px;
    float: left;
    width: 780px;
    height: 800px;
}
#middenOnzediensten {
    position: absolute;
    top: 9%;
    left: 300px;
    background-color: whitesmoke;
    font-size: 12pt;
    color: black;
    font-family: verdana;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 10px;
    float: left;
    width: 780px;
<<<<<<< HEAD
    height: 500px; 
}
=======
    height: 800px;
}
#middenOnzediensten ul {
    list-style-type: none;
    width: 280px;
}
#middenOnzediensten ul li {
    margin-left: 50px;
    width: 280px;
}
#middenOnzediensten ul li a {
    display: block;
    padding: 0px;
    background-color: white;
    text-align: center;
    width: 280px;
}

>>>>>>> cebed5b40402bc46af25660447d177ccda7e4fd0
#Inloggen{
    position: relative;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    color: white;
    background:#44699C;
    left:150px;
    top:150px;
}
#Inloggen a:hover {
    background-color: #5F94DC;
}
#Registreren {
    position: relative;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    background:#44699C;
    color: white;
    left:250px;
    top:150px;
}
<<<<<<< HEAD
#menu ul {  
    list-style-type: none;
    width: 175px;
}  
=======

#Aanbiedenpakket{
    position: relative;
    width: 190px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    color: white;
    background:#44699C;
    left:150px;
    top:150px;
}
#Aanbiedenpakket a:hover {
    background-color: #5F94DC;
}

#Wijzigengegevens {
    position: relative;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    background:#44699C;
    color: white;
    left:250px;
    top:150px;
}

#menu ul {
    list-style-type: none;
    width: 175px;
}

>>>>>>> cebed5b40402bc46af25660447d177ccda7e4fd0
#menu {
    position: absolute;
    top: 20%;
    left: 8%;
}
#menu ul li {
    display: inline;
    margin: 5px;
}
#menu ul li a {
    display: block;
    padding: 15px;
    background-color: #44699C;
    font-family: Verdana;
    color: white;
    text-align: center;
}
#menu ul li a:hover {
    /* Nieuw */
    background-color: #5F94DC;
}
#tekstWachtwoordVergeten {
    width : 20%;
    text-align : left;
    font-size: 20px;
    font-family: Verdana bold;
    color: black;
    font-weight: bold;
}
#controleer {
    position: relative;
    left: 80px;
    top: 10px;
    font-size: 25px;
    color: red;
}
#akkoordgegevens {
    position: relative;
    left: 180px;
    top: 200px;
    width: 160px;
    height: 40px;
    font-size: 20px;
    background: #44699C;
    color: white;
}
#foutmelding {
    position: relative;
    left: 70px;
    width : 20%;
    //text-align : left;
    font-size: 20px;
    font-family: Verdana bold;
    color: red;
    font-weight: bold;
}
#naarInlogscherm {
    position: relative;
    left: 180px;
    top: 10px;
    width: 160px;
    height: 40px;
    font-size: 20px;
    background: #44699C;
    color: white;
}
#registratieGereed {
    position: relative;
    top: 30%;
    left: 10%;
    background-color: whitesmoke;
    font-size: 20pt;
    width: 480px;
    height: 200px;
}
#InloggenRegistratieGereed {
    position: relative;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    color: white;
    background:#44699C;
    left:150px;
    top:50px;
}
#pakketVersturen {
    position: relative;
    width: 260px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    color: white;
    background:#44699C;
    left:80px;
    top:150px;
}
#gegevensWijzigen {
    position: relative;
    width: 260px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    background:#44699C;
    color: white;
    left:170px;
    top:150px;
}
#middenContact {
    position: absolute;
    top: 9%;
    left: 300px;
    background-color: whitesmoke;
    font-size: 12pt;
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 10px; 
    float: left;
    width: 780px;
    height: 400px; 
}
#contactGegevens {
    position: relative;
    width: 260px;
    height: 40px;
    font-size: 20px;
    font-family: Verdana;
    color: #44699C;
    font-weight: bold;
    left:80px;
    top:50px;
}
#pakketdiensten {
    position: relative;
    width: 260px;
    height: 40px;
    font-size: 20px;
    font-family: Verdana;
    color: #44699C;
    font-weight: bold;
    left:80px;
    top:30px;
}
#pakketdienstenTekst {
    position: relative;
    width: 600px;
    font-size: 16px;
    font-family: Verdana;
    color: black;
    left: 80px;
    top: 15px;
}
#extraVerzekering {
    position: relative;
    width: 260px;
    font-size: 20px;
    font-family: Verdana;
    color: #44699C;
    font-weight: bold;
    left:80px;
    top:10px;
}
#extraVerzekeringTekst {
    position: relative;
    width: 600px;
    font-size: 16px;
    font-family: Verdana;
    color: black;
    left: 80px;
    top: 0px;
}
#hoeWerktHet {
    position: relative;
    width: 260px;
    height: 40px;
    font-size: 20px;
    font-family: Verdana;
    color: #44699C;
    font-weight: bold;
    left:80px;
    top:0px;
}
#hoeWerktHetTekst {
    position: relative;
    width: 600px;
    font-size: 16px;
    font-family: Verdana;
    color: black;
    left: 80px;
    top: 0px;
}
#inloggenTreinkoerier {
    position: relative;
    width: 260px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    color: white;
    background:#44699C;
    left:80px;
    top:150px;
}
#registrerenTreinkoerier{
    position: relative;
    width: 260px;
    height: 40px;
    font-size: 16px;
    font-family: Verdana;
    background:#44699C;
    color: white;
    left:170px;
    top:150px;
}


